<!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button> -->

<div id="stepper-component">
    <div class="sticky-top number-plate-container">
        <div *ngIf="s2q1UserNumberPlate" class="m-3">
            <span class="number-plate">{{ s2q1UserNumberPlate | uppercase }}</span>
            <span> = £{{ this.valuation.total }}</span>
        </div>
    </div>
    
    <mat-vertical-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Fill out your name and email</ng-template>
            <div class="d-flex flex-column">
                <mat-form-field appearance="outline">
                    <mat-label>Full name</mat-label>
                    <input matInput 
                           placeholder="Full name" 
                           formControlName="s1q1" 
                           [(ngModel)]="s1q1FullName" 
                           required>
                    <mat-icon matSuffix>account_box</mat-icon>
                    <mat-hint>Joe Bloggs</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                    <input matInput 
                           placeholder="Email address"
                           formControlName="s1q2"
                           [(ngModel)]="s1q2Email"
                           [email]="true"
                           required>
                    <mat-icon matSuffix>mail</mat-icon>
                </mat-form-field>
            </div>
            
            <div class="float-right">
                <button mat-button matStepperNext>Next</button>
            </div>
            </form>
        </mat-step>
    
        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Enter your number plate</ng-template>
                <div class="d-flex flex-column">
                    <mat-form-field appearance="outline">
                        <mat-label>Number Plate</mat-label>
                        <input matInput 
                               placeholder="Number plate" 
                               formControlName="s2q1"
                               [(ngModel)]="s2q1UserNumberPlate" 
                               maxlength="8"
                               required>
                        <mat-icon matSuffix>directions_car</mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Price bought</mat-label>
                        <input matInput
                               placeholder="Price bought"
                               formControlName="s2q2"
                               [(ngModel)]="s2q2PriceBought" 
                               required>
                        <mat-icon matSuffix>comment</mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Date bought</mat-label>
                        <input matInput
                               [matDatepicker]="picker"
                               placeholder="Date bought"
                               formControlName="s2q3"
                               [(ngModel)]="s2q3DateBought"
                               required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="float-right">
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
    
            <!-- <pre>{{ s2q1UserNumberPlate | json }}</pre> -->
            </form>
        </mat-step>
    
        <mat-step [stepControl]="thirdFormGroup">
            <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>Plate type</ng-template>
            <div class="d-flex flex-column">
                <mat-form-field appearance="outline">
                    <mat-label>Plate Types</mat-label>
                    <mat-select formControlName="s3q1">
                        <mat-option *ngFor="let plate of plateTypes" 
                            [value]="plate.value" 
                            (onSelectionChange)="plateTypesCalc($event, plate.value, plate.type)">
                            {{ plate.type }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div *ngIf="plateFormatTypes.current" class="d-flex flex-column">
                <mat-form-field appearance="outline">
                    <mat-label>Current style</mat-label>
                    <mat-select formControlName="s3q2">
                        <mat-option *ngFor="let currentPlate of currentStyleNumberPlates" 
                            [value]="currentPlate.value" 
                            (onSelectionChange)="currentStyleCalc($event, currentPlate.value, currentPlate.number)">
                            {{ currentPlate.number }} - {{ currentPlate.year }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="float-right">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
            </form>
        </mat-step>
    
        <mat-step [stepControl]="fourthFormGroup">
            <form [formGroup]="fourthFormGroup">
            <ng-template matStepLabel>Plate meaning</ng-template>
            <div class="d-flex flex-column">
                <mat-form-field appearance="outline">
                    <mat-label>Plate Meaning</mat-label>
                    <mat-select formControlName="s4q1">
                        <mat-option *ngFor="let meaning of plateMeaning" 
                        (onSelectionChange)="plateMeaningCalc($event, meaning.value)"
                        [value]="meaning.value">{{ meaning.type }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Exact meaning in words" formControlName="s4q2" required>
                    <mat-icon matSuffix>comment</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>EXACT, MORE or LESS characters?</mat-label>
                    <mat-select formControlName="s4q3">
                        <mat-option *ngFor="let plateChar of plateCharacterType"
                        (onSelectionChange)="plateLengthCalc($event, plateChar.value)"
                        [value]="plateChar.value">{{ plateChar.type }}</mat-option>
                    </mat-select>
                    <mat-hint>Does the reg have the EXACT, MORE or LESS characters than the actual word that it represents?</mat-hint>
                </mat-form-field>
                <!-- <mat-label>Does the registration have duplicate sequential letters or numbers? (yes or no)</mat-label> -->
                <div class="mt-5 p-2 border">
                    <h6>Does the registration have duplicate sequential letters or numbers?</h6>
                    <mat-slide-toggle formControlName="s4q3" 
                    [checked]="duplicateSequentialLetters === true ? true : false"
                    (change)="plateDupSeqLetters()"
                    [(ngModel)]="duplicateSequentialLetters">
                </mat-slide-toggle>
                </div>
            </div>
            <div class="float-right">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
            </form>
        </mat-step>
    
        <mat-step [stepControl]="fifthFormGroup">
            <form [formGroup]="fifthFormGroup">
            <ng-template matStepLabel>Plate match options</ng-template>
            <div class="d-flex flex-column">
                <mat-label class="text-left">Please state if the plate is a match to the options below?</mat-label>
                <!-- <mat-form-field appearance="outline">
                    <mat-label>Plate match options</mat-label>
                    <mat-select formControlName="s5q1" style="display: block;">
                        <mat-option style="display: block;" *ngFor="let option of plateMatchOptions" [value]="option.value">{{ option.type }}
                                <span style="display: block; font-size: 11px; margin-top: -28px">{{ option.hint }}</span>
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->

                <mat-radio-group class="d-flex flex-column my-2">
                    <mat-radio-button class="m-1 text-left" 
                                      *ngFor="let option of plateMatchOptions"
                                      (click)="plateMatchCalc(option.value)"
                                      [value]="option.value">
                        {{ option.type }}
                        <!-- <span class="hint">{{ option.hint }}</span> -->
                        <button mat-button
                                class="ml-2"
                                matTooltip="{{ option.hint }}"
                                matTooltipPosition="above">
                                <mat-icon>info</mat-icon>
                        </button>
                    </mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="float-right">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
            </form>
        </mat-step>
    
        <mat-step [stepControl]="sixthFormGroup">
            <form [formGroup]="sixthFormGroup">
            <ng-template matStepLabel>Plate characters</ng-template>
            <div class="d-flex flex-column">

                <mat-form-field class="m-2" appearance="outline">                
                <mat-label>Total characters?</mat-label>
                <mat-select formControlName="s6q1">
                    <mat-option *ngFor="let totalChar of plateTotalChar"
                    (onSelectionChange)="plateTotalCharCalc($event, totalChar.value)"
                    [value]="totalChar.value">{{ totalChar.type }}</mat-option>
                </mat-select>
                <mat-hint>What is the total amount of characters in the plate including numbers and letters?</mat-hint>
                </mat-form-field>

                <mat-form-field class="m-2" appearance="outline">                
                <mat-label>How many numbers in your plate?</mat-label>
                <mat-select formControlName="s6q2">
                    <mat-option *ngFor="let totalNumbers of plateTotalNumbers"
                    (onSelectionChange)="plateTotalNumbersCalc($event, totalNumbers.value)"
                    [value]="totalNumbers.value">{{ totalNumbers.type }}</mat-option>
                </mat-select>
                <mat-hint>What is the total amount of numbers in the plate?</mat-hint>
                </mat-form-field>

                <mat-form-field class="m-2" appearance="outline">                
                <mat-label>How many letters in your plate?</mat-label>
                <mat-select formControlName="s6q3">
                    <mat-option *ngFor="let totalLetters of plateTotalLetters"
                    (onSelectionChange)="plateTotalLettersCalc($event, totalLetters.value)"
                    [value]="totalLetters.value">{{ totalLetters.type }}</mat-option>
                </mat-select>
                <mat-hint>What is the total amount of letters in the plate?</mat-hint>
                </mat-form-field>

            </div>
            <div class="float-right">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
            </form>
        </mat-step>
    
        <mat-step [stepControl]="seventhFormGroup">
            <form [formGroup]="seventhFormGroup">
            <ng-template matStepLabel>Modifications</ng-template>
            <!-- <div class="d-flex flex-column">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Do any of the plate letter characters need to be modified?" formControlName="s7q1" required>
                    <mat-icon matSuffix>directions_car</mat-icon>
                    <mat-hint>Do any of the letters need to look like a different letter</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Do any of the plate number characters need to be modified?" formControlName="s7q2" required>
                    <mat-icon matSuffix>directions_car</mat-icon>
                    <mat-hint>Do any of the numbers need to look like a different number</mat-hint>
                </mat-form-field>
            </div> -->

            <mat-label class="text-left">Do any of the plate letter characters need to be modified?</mat-label>
            <mat-radio-group class="d-flex flex-column my-2">
                <mat-radio-button class="m-1 text-left" 
                                    *ngFor="let letterMod of plateLetterModifications"
                                    (click)="letterModCalc(letterMod.value)"
                                    [value]="letterMod.value">
                    {{ letterMod.type }}
                    <button mat-button
                            class="ml-2"
                            matTooltip="{{ letterMod.hint }}"
                            matTooltipPosition="above">
                            <mat-icon>info</mat-icon>
                    </button>
                </mat-radio-button>
            </mat-radio-group>

            <mat-label class="text-left">Do any of the plate number characters need to be modified?</mat-label>
            <mat-radio-group class="d-flex flex-column my-2">
                <mat-radio-button class="m-1 text-left" 
                                    *ngFor="let numberMod of plateNumberModifications"
                                    (click)="numberModCalc(numberMod.value)"
                                    [value]="numberMod.value">
                    {{ numberMod.type }}
                    <button mat-button
                            class="ml-2"
                            matTooltip="{{ numberMod.hint }}"
                            matTooltipPosition="above">
                            <mat-icon>info</mat-icon>
                    </button>
                </mat-radio-button>
            </mat-radio-group>

            <div class="float-right">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
            </form>
        </mat-step>
    
        <!-- <mat-step [stepControl]="eighthFormGroup">
            <form [formGroup]="eighthFormGroup">
            <ng-template matStepLabel>Issued year</ng-template>
            <div class="d-flex flex-column">
                <mat-form-field appearance="outline">
                    <mat-label>What year was your plate issued?</mat-label>
                    <input matInput placeholder="What year was it issued - provide reg years?" formControlName="s8q1" required>
                    <mat-icon matSuffix>directions_car</mat-icon>
                    <mat-hint>Select from the drop down list</mat-hint>
                </mat-form-field>
            </div>
            <div class="float-right">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
            </form>
        </mat-step> -->
    
        <mat-step class="mb-5">
            <ng-template matStepLabel>Done</ng-template>
            <div class="number-plate-container">
                <div *ngIf="s2q1UserNumberPlate" class="m-3">
                    <span class="number-plate">{{ s2q1UserNumberPlate | uppercase }}</span>
                    <span> = £{{ this.valuation.total }}</span>
                </div>
            </div>
            <button mat-button (click)="stepper.save()">Save</button>
            <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
        </mat-step>
    </mat-vertical-stepper>
    
</div>
