<!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button> -->

<div id="stepper-component">
    <div class="sticky-top number-plate-container">
        <div *ngIf="s2q1UserNumberPlate" class="m-3">
            <span class="number-plate">{{ s2q1UserNumberPlate | uppercase }}</span>
            <span> = £{{ this.valuation.total }}</span>
        </div>
</div>
    
    <mat-vertical-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Fill out your name and email</ng-template>
            <div class="d-flex flex-column">
                <mat-form-field appearance="outline">
                    <mat-label>Full name</mat-label>
                    <input matInput 
                           placeholder="Full name" 
                           formControlName="s1q1" 
                           [(ngModel)]="s1q1FullName" 
                           required>
                    <mat-icon matSuffix>account_box</mat-icon>
                    <mat-hint>Joe Bloggs</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                    <input matInput 
                           placeholder="Email address"
                           formControlName="s1q2"
                           [(ngModel)]="s1q2Email"
                           [email]="true"
                           required>
                    <mat-icon matSuffix>mail</mat-icon>
                </mat-form-field>
                <pre>{{ s1q1FullName | json }}</pre>
                <pre>{{ s1q2Email | json }}</pre>
            </div>
            
            <div class="float-right">
                <button mat-button matStepperNext>Next</button>
            </div>
            </form>
        </mat-step>
    
        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Enter your number plate</ng-template>
                <div class="d-flex flex-column">
                    <mat-form-field appearance="outline">
                        <mat-label>Number Plate</mat-label>
                        <input matInput 
                               placeholder="Number plate" 
                               formControlName="s2q1"
                               [(ngModel)]="s2q1UserNumberPlate" 
                               maxlength="8"
                               required>
                        <mat-icon matSuffix>directions_car</mat-icon>
                    </mat-form-field>
                </div>
                <div class="float-right">
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
    
            <!-- <pre>{{ s2q1UserNumberPlate | json }}</pre> -->
            </form>
        </mat-step>
    
        <mat-step [stepControl]="thirdFormGroup">
            <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>Plate type</ng-template>
            <div class="d-flex flex-column">
                <mat-form-field appearance="outline">
                    <mat-label>Plate Types</mat-label>
                    <mat-select formControlName="s3q1">
                        <mat-option *ngFor="let plate of plateTypes" 
                            [value]="plate.value" 
                            (onSelectionChange)="plateTypesCalc($event, plate.value)">
                            {{ plate.type }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="float-right">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
            </form>
        </mat-step>
    
        <mat-step [stepControl]="fourthFormGroup">
            <form [formGroup]="fourthFormGroup">
            <ng-template matStepLabel>Plate meaning</ng-template>
            <div class="d-flex flex-column">
                <mat-form-field appearance="outline">
                    <mat-label>Plate Meaning</mat-label>
                    <mat-select formControlName="s4q1">
                        <mat-option *ngFor="let meaning of plateMeaning" 
                        (onSelectionChange)="plateMeaningCalc($event, meaning.value)"
                        [value]="meaning.value">{{ meaning.type }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Exact meaning in words" formControlName="s4q2" required>
                    <mat-icon matSuffix>comment</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>EXACT, MORE or LESS characters?</mat-label>
                    <mat-select formControlName="s4q3">
                        <mat-option *ngFor="let plateChar of plateCharacterType"
                        (onSelectionChange)="plateLengthCalc($event, plateChar.value)"
                        [value]="plateChar.value">{{ plateChar.type }}</mat-option>
                    </mat-select>
                    <mat-hint>Does the reg have the EXACT, MORE or LESS characters than the actual word that it represents?</mat-hint>
                </mat-form-field>
                <!-- <mat-label>Does the registration have duplicate sequential letters or numbers? (yes or no)</mat-label> -->
                <div class="mt-5 p-2 border">
                    <h6>Does the registration have duplicate sequential letters or numbers?</h6>
                    <mat-slide-toggle formControlName="s4q3"></mat-slide-toggle>
                </div>
            </div>
            <div class="float-right">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
            </form>
        </mat-step>
    
        <mat-step [stepControl]="fifthFormGroup">
            <form [formGroup]="fifthFormGroup">
            <ng-template matStepLabel>Plate match options</ng-template>
            <div class="d-flex flex-column">
                <mat-label>Please state if the plate is a good match to the words below?</mat-label>
                <mat-form-field appearance="outline">
                    <mat-label>Plate match options</mat-label>
                    <mat-select formControlName="s5q1">
                        <mat-option *ngFor="let option of plateMatchOptions" [value]="option.value">{{ option.type }}
                                <span class="hint">{{ option.hint }}</span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="float-right">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
            </form>
        </mat-step>
    
        <mat-step [stepControl]="sixthFormGroup">
            <form [formGroup]="sixthFormGroup">
            <ng-template matStepLabel>Plate characters</ng-template>
            <div class="d-flex flex-column">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Total characters" formControlName="s6q1" required>
                    <mat-icon matSuffix>directions_car</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="How many numbers in your plate" formControlName="s6q2" required>
                    <mat-icon matSuffix>directions_car</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="How many letters in your plate" formControlName="s6q3" required>
                    <mat-icon matSuffix>directions_car</mat-icon>
                </mat-form-field>
            </div>
            <div class="float-right">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
            </form>
        </mat-step>
    
        <mat-step [stepControl]="seventhFormGroup">
            <form [formGroup]="seventhFormGroup">
            <ng-template matStepLabel>Modifications</ng-template>
            <div class="d-flex flex-column">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Do any of the plate letter characters need to be modified?" formControlName="s7q1" required>
                    <mat-icon matSuffix>directions_car</mat-icon>
                    <mat-hint>Do any of the letters need to look like a different letter</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Do any of the plate number characters need to be modified?" formControlName="s7q2" required>
                    <mat-icon matSuffix>directions_car</mat-icon>
                    <mat-hint>Do any of the numbers need to look like a different number</mat-hint>
                </mat-form-field>
            </div>
            <div class="float-right">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
            </form>
        </mat-step>
    
        <mat-step [stepControl]="eighthFormGroup">
            <form [formGroup]="eighthFormGroup">
            <ng-template matStepLabel>Issued year</ng-template>
            <div class="d-flex flex-column">
                <mat-form-field appearance="outline">
                    <mat-label>What year was your plate issued?</mat-label>
                    <input matInput placeholder="What year was it issued - provide reg years?" formControlName="s8q1" required>
                    <mat-icon matSuffix>directions_car</mat-icon>
                    <mat-hint>Select from the drop down list</mat-hint>
                </mat-form-field>
            </div>
            <div class="float-right">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
            </form>
        </mat-step>
    
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            You are now done.
            <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
        </mat-step>
    </mat-vertical-stepper>
    
</div>
